body {
    background-image: url("/images/gris2.jpg");
    margin: 0;
}

#logotipo {
    width: 27%;
    height: 140px;
    float: left;
}

label, input {
    width: 29%;
    position: relative;
    top: 40px;
    background-color: #f5f6f9 ;
}

#recursoUno {
    width: 3%;
    position: relative;
    top: 55px;
    left: 680px;
}

#recursoDos {
    width: 3%;
    position: relative;
    top: 55px;
    left: 730px;
}

#recursoTres {
    width: 3%;
    position: relative;
    top: 55px;
    left: 780px;
}

#tituloCentral {
    clear: both;
}


/* NAVEGACION*/ 
#lista_nav li {
    display: inline;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #AEB6BF ;
}


/* BODY */

.historia{
    margin-left: 10px;
    width: 45%;
    float: left;
    background-color: #CACFD2 ; 
}

#ima_historia{
    margin-top: 60px;
    margin-left: 70px;
    float: left;
    border: 4px lightcoral solid; 
}

.tituloHistoria{
    position: relative;
    left: 35%;
    border: 4px #808289 solid;
}

.redes{
    margin-top: 30px;
    float: left;
}
.centradoTitulo{
    text-align:center;
}

.posicionamiento {
    margin-left: 10px;
}



.dimensionImg{
    width: 200px;
}

/*GALERIA DE IMAGENES */
.margenGaleria {
    background-color: #CACFD2;
}

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 5px;

}

.galeria img {
    width: 120px;
    height: 90px;
}

.videoR{
    text-align:center;
    margin: auto;
    padding: 15px;
}


.personajes {
    background-color: #CACFD2 ; 
    clear: both;
}

.creadores {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.creadores li {
    margin: 5px;

}

.creadores img {
    /*
    width: 220px;
    height: 170px;
*/
    border: 4px black solid;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.creadores figure{
    position: relative;
}

.creadores figcaption {
    position: absolute;
    left: 0px;
    top: 233px;;
    border: 1px rgb(0, 0, 0) solid;
    width: 94%;
    padding: 3px;
}

.separador {
    margin: 7%;

}

.pie_pag {
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    border-top: 2px black solid ;
    border-bottom: 2px black solid ;
    margin: 0px;
    background-color: #4A4B4C; 
    text-align: center;
}

.copy {
    float: left;
    margin-left: 10px;
}