body {
    background-image: url("/images/fondos/rojo_fondo.jfif");
    margin: 0;
}



#logotipo {
    width: 27%;
    height: 140px;
    float: left;
}

label, input {
    width: 29%;
    position: relative;
    top: 40px;
    background-color: #f5f6f9 ;
}

#recursoUno {
    width: 3%;
    position: relative;
    top: 55px;
    left: 680px;
}

#recursoDos {
    width: 3%;
    position: relative;
    top: 55px;
    left: 730px;
}

#recursoTres {
    width: 3%;
    position: relative;
    top: 55px;
    left: 780px;
}

#tituloCentral {
    clear: both;
}


.lista_nav li {
    display: inline;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #AEB6BF ;
    color: black;
}

.lista_nav li a:hover{
    background-color: lightgreen;
}


.hipervinculos li a:hover{
    background-color: lightgreen;
}


.menu {
    width: 15%;
    float: left;
    border-bottom: 1px tomato solid;
    padding: 4px;
    margin: 4px;

}

.central {
    width: 55%;
    padding-bottom: 15px;
    border-left: 2px black dashed;
    border-right: 2px black dashed;
    padding-left: 2%;
    float: left;

}

.central img {
    width: 240px;
    height: 150px;
    padding-left: 35%;
}

.lateral {
    width: 20%;
    padding-bottom: 15px;
    padding-left: 2%;
    float: left;

}

.lateral img {
    width: 210px;
    height: 135px;
    padding-left: 0%;
}

.separador {
    margin: 7%;
    clear: both;
}

.pie_pag {
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    border-top: 2px black solid ;
    border-bottom: 2px black solid ;
    margin: 0px;
    background-color: #4A4B4C; 
    text-align: center;
    clear: both;
}

.copy {
    float: left;
    margin-left: 10px;
}